@import '../../styles/colors.scss';
@import '../../styles/variables.scss';

.accuracy-content {
    width: 80%;
    margin: auto;
    color: white;
    padding: 20px;
    text-align: center;

    .accuracy-text {
        font-weight: 800;
        padding: 15px;
    }
}

.warning {
    background-color: $warning;
}

.caution {
    background-color: $caution;
}

.good {
    background-color: $good;
}

.excellent {
    background-color: $excellent;
}