@import "../styles/colors.scss";
@import "../styles/variables.scss";

.app-content {
    width: 500px;
    height: 500px;
    padding: 10px;

    .app-title {
        text-align: center;
        padding: 5px;
    }

    .report-content {
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 32px;
    font-weight: 400;
}

h2 {
    font-size: 24px;
    font-weight: 400;
}

h3 {
    font-size: 18.72px;
    font-weight: 300;
}

h4 {
    font-size: 16px;
    font-weight: 300;
}

h5 {
    font-size: 13.28px;
}

h6 {
    font-size: 10.72px;
}
